<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	

	<connectionStrings>
		
		<add name= "SqlConnection1" connectionString="Data Source=KEEGANSPC\SQLEXPRESS02;Initial Catalog=PROG2_POE;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"/>

		<!--<add name= "SqlConnection1" connectionString="C:Keegan Frank 20103712 -PROG6212 POE TASK 2\PROG POE TASK 2\POE_PROG6212\bin\Debug\Keegan Frank 20103712 SQL PROG POE TASK 2.sql"/>-->

	</connectionStrings>
	
</configuration>